<section>
  <div class="container-lg">
    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <h5 class="card-header">Todo List</h5>
          <div class="card-body">
            <div class="row" cdkDropListGroup>

              <div class="col-md-4 p-1">
                <div class="card">
                  <h5 class="card-header bg-primary bg-gradient">
                    To do
                    <div class="position-absolute top-0 end-0 pt-2 pe-3">
                      <i class="bi bi-plus-square-fill" (click)="addTodoEntry()" style="cursor: pointer;"></i>
                    </div>
                  </h5>
                  <div class="card-body bg-primary p-0" style="min-height: 100px;"
                    cdkDropList [cdkDropListData]="Category.Todo" (cdkDropListDropped)="drop($event)">

                    <div class="card m-1" id="draggable-entry" [cdkDragData]="entry" *ngFor="let entry of getTodoEntries()" cdkDrag>
                      <div class="card-body">
                        <div class="btn-group dropdown position-absolute top-0 end-0 pt-2 pe-3">
                          <div class="bi bi-three-dots" style="cursor: pointer;" data-bs-toggle="dropdown"></div>
                          <ul class="dropdown-menu dropdown-menu">
                            <li><a class="dropdown-item" (click)="openEditModal(entry)">Edit</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" (click)="deleteEntry(entry.getId())">Delete</a></li>
                          </ul>
                        </div>
                        <h6>{{ entry.getParentClass()?.getName() || "No Class" }}</h6>
                        <h5 class="card-title">{{ entry.getName() }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Due: {{ entry.getDueDate() | date:'medium' }}</h6>
                        <div *ngFor="let line of entry.getInfo() || ['No Information']">
                          {{ line }}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="col-md-4 p-1">
                <div class="card">
                  <h5 class="card-header bg-warning bg-gradient">
                    In Progress
                    <div class="position-absolute top-0 end-0 pt-2 pe-3">
                      <i class="bi bi-plus-square-fill" (click)="addInProgressEntry()" style="cursor: pointer;"></i>
                    </div>
                  </h5>
                  <div class="card-body bg-warning p-0" style="min-height: 100px;"
                    cdkDropList [cdkDropListData]="Category.InProgress" (cdkDropListDropped)="drop($event)">

                    <div class="card m-1" id="draggable-entry" [cdkDragData]="entry" *ngFor="let entry of getInProgressEntries()" cdkDrag>
                      <div class="card-body">
                        <div class="btn-group dropdown position-absolute top-0 end-0 pt-2 pe-3">
                          <div class="bi bi-three-dots" style="cursor: pointer;" data-bs-toggle="dropdown"></div>
                          <ul class="dropdown-menu dropdown-menu">
                            <li><a class="dropdown-item" (click)="openEditModal(entry)">Edit</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" (click)="deleteEntry(entry.getId())">Delete</a></li>
                          </ul>
                        </div>
                        <h6>{{ entry.getParentClass()?.getName() || "No Class" }}</h6>
                        <h5 class="card-title">{{ entry.getName() }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Due: {{ entry.getDueDate() | date:'medium' }}</h6>
                        <div *ngFor="let line of entry.getInfo() || ['No Information']">
                          {{ line }}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="col-md-4 p-1">
                <div class="card">
                  <h5 class="card-header bg-success bg-gradient">
                    Done
                    <div class="position-absolute top-0 end-0 pt-2 pe-3">
                      <i class="bi bi-plus-square-fill" (click)="addDoneEntry()" style="cursor: pointer;"></i>
                    </div>
                  </h5>
                  <div class="card-body bg-success p-0" style="min-height: 100px;"
                    cdkDropList [cdkDropListData]="Category.Done" (cdkDropListDropped)="drop($event)">

                    <div class="card m-1" id="draggable-entry" [cdkDragData]="entry" *ngFor="let entry of getDoneEntries()" cdkDrag>
                      <div class="card-body">
                        <div class="btn-group dropdown position-absolute top-0 end-0 pt-2 pe-3">
                          <div class="bi bi-three-dots" style="cursor: pointer;" data-bs-toggle="dropdown"></div>
                          <ul class="dropdown-menu dropdown-menu">
                            <li><a class="dropdown-item" (click)="openEditModal(entry)">Edit</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" (click)="deleteEntry(entry.getId())">Delete</a></li>
                          </ul>
                        </div>
                        <h6>{{ entry.getParentClass()?.getName() || "No Class" }}</h6>
                        <h5 class="card-title">{{ entry.getName() }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Due: {{ entry.getDueDate() | date:'medium' }}</h6>
                        <div *ngFor="let line of entry.getInfo() || ['No Information']">
                          {{ line }}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="modal fade" tabindex="-1" #edit_entry_modal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editing "{{ selected_entry?.getName()}} "</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="assignment-name" class="form-label">Assignment Name</label>
            <input type="text" class="form-control" id="assignment-name" placeholder="Assignment Name" [value]="selected_entry?.getName()">
          </div>

          <div class="mb-3">
            <label for="assignment-parent" class="form-label">Assignment Name</label>
            <select class="form-select" id="assignment-parent">
              <option *ngFor="let clazz of getClasses()" [value]="clazz.getId()" [selected]="clazz == selected_entry?.getParentClass()">{{ clazz.getName() }}</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="due-date" class="form-label">Due Date</label>
            <input type="text" class="form-control" id="due-date" placeholder="Due Date" [value]="selected_entry?.getDueDate() | date:'medium'">
          </div>

          <div class="mb-3">
            <label for="assignment-info" class="form-label">Assignment Info</label>
            <textarea class="form-control" id="assignment-info" placeholder="Assignment Information">{{  selected_entry?.getInfo()?.join("\n") }}</textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="confirmEditEntry()">Save changes</button>
      </div>
    </div>
  </div>
</div>
