<section>
  <div class="container">

    <div class="row">

      <div class="col-md-3">
        <form (ngSubmit)="submitAddClass()" [formGroup]="add_class_form">
          <div class="mb-3">
            <label for="class-name" class="form-label">Class Name</label>
            <input type="text" class="form-control" id="class-name" formControlName="name">
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>

      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-pills nav-fill card-header-pills flex-column flex-md-row">
              <li class="nav-item" *ngFor="let class of getClasses()">
                <a class="nav-link flex-md-fill text-md-center"
                    routerLink="/classes/{{ class.getName() }}"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">{{ class.getName() }}</a>
              </li>
            </ul>
          </div>
          <div class="card-body" *ngIf="getSelectedClass(); else noClassSelected">
            <div class="row">
              <div class="col-md-2 text-end">
                Class selected:
              </div>
              <div class="col-md-10">
                {{ getSelectedClass()?.getName() }}
              </div>
            </div>
            <div class="row" (dblclick)="editInfo()">
              <div class="col-md-2 text-end">
                Class Info:
              </div>
              <div class="col-md-10">
                <div *ngFor="let line of getSelectedClass()?.getInfo() || ['No info available.']">
                  {{ line }}<br/>
                </div>
              </div>
            </div>
            <div class="row" (dblclick)="editLinks()">
              <div class="col-md-2 text-end">
                Class Links:
              </div>
              <div class="col-md-10">
                <div *ngFor="let link of getSelectedClass()?.getLinks()">
                  <a href="{{ link.getAddress() }}">{{ link.getText() }}</a><br/>
                </div>
              </div>
            </div>
            <div class="text-end pt-2">
              <button type="button" class="btn btn-outline-danger" (click)="deleteClass(getSelectedClass()?.getId())">Delete Course</button>
            </div>
          </div>
          <ng-template #noClassSelected>
            <div class="card-body">
              <p class="card-text">
                Select a class to get more detailed information.
              </p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="modal fade" id="editInfoModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Class Info</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <textarea class="form-control" style="height: 300px" id="edit-info-textarea">{{ getSelectedClass()?.getInfo() }}</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="submitEditCourseInfo()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editLinksModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Class Links</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form id="class-link-form">
          <div class="row pb-3" *ngFor="let link of getSelectedClass()?.getLinks()">
            <div class="col-4">
              <input type="text" id="link-name" class="form-control" placeholder="Name" [value]="link.getText()">
            </div>
            <div class="col-8">
              <input type="text" id="link-address" class="form-control" placeholder="URL" [value]="link.getAddress()">
            </div>
          </div>
          <div class="row pb-3" *ngFor="let _ of [].constructor(2)">
            <div class="col-4">
              <input type="text" id="link-name" class="form-control" placeholder="Name">
            </div>
            <div class="col-8">
              <input type="text" id="link-address" class="form-control" placeholder="URL">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="submitEditCourseLinks()">Save changes</button>
      </div>
    </div>
  </div>
</div>